body {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
/* THis is the css styling for the nav bar by jb and mj */

img {
    width: 110px;
    margin: .5%;
    padding-left: .5%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #90C6F4;
}

ul.topnav img.left {
    float: left;
}

@media screen and (max-width: 600px) {
  ul.topnav img.left, 
  ul.topnav li img {
      float: none;
    }
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    /* bottom: 0; */
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    justify-content: center;
  }

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    align-content: center;
  }

/* Full-width input fields */
.form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

/*footer styling*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #90C6F4;
    color: white;
    text-align: center;
    border-top: solid;
    border-color: #111;
    border-width: 5px;
  }